/* ----- */
/* LOGIN */
/* ----- */
body #website_sale_login_info {
    display: none;
}

/* FIxED for STANDARD */
.payment_interval_ids {
    text-align: center;
}
/* ----------------------------- */
/* PRODUCT PAGE AND CHECKOUT BOX */
/* ----------------------------- */

/* Center the Amount Title */
body #product_detail .amount_title {
    text-align: center;
}

/* Reset the price donate input */
body .price_donate .form-control {
    font-size: 24px;
    padding: inherit;
    color: inherit;
    text-align: inherit;
}

/* Add some space between donation buttons and input on small layout */
span.price_donate_suggested_outer {
    display: inline-block;
     margin-bottom: 12px;
}

/* Lower the checkoutbox to match the content on the left side */
body #wsd-checkout-box {
    margin-top: 16px;
}

/* Add some space between the text and the interval selection */
.payment_interval_ids div.form-group{
    margin-top: 12px;
}
.product_price {
    display: inline-block;
}
#price_donate {
    text-align: center;
    width: 144px;
    font-size: 32px;
    border: solid 6px #ed7f05;
    height: 60px;
    border-radius: 25px 25px 25px 25px;
    background-color: #ffffff;
}
#wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > div > div > span:nth-child(4) {
    display: none;
}

/* Special Box as Altruja */
#wsd_checkout_form > div > div.product_price.mt16 {
    width: 100%;
    background: #f6f6f6;
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
}
#wsd_checkout_form > div > h4 {
    background: #f6f6f6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0px;
    padding-bottom: 10px;
}
#wsd_checkout_form > div > h4 > hr {
    display: none;
}
.price_donate .input-group-addon {
    border: none;
    color: #000 !important;
    font-size: 36px;
    box-shadow: none !important;
}
#wsd_checkout_form > div > div.product_price.mt16 {
    margin-top: 0px !important;
}
#wsd_checkout_form h3 {
    margin-bottom: 0px !important;
}
#wsd-checkout-box > div > div > h1 {
        font-family: 'Open Sans';
}
#wsd_checkout_form h1,
#wsd_checkout_form h2,
#wsd_checkout_form h3,
#wsd_checkout_form h4 {
    font-family: 'Open Sans';
}
#wsd_checkout_form h3.amount_title {
    background-color: #f6f6f6 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.payment_interval_info.text-muted {
    margin-top: 0px !important;
}
h4 .payment_interval_ids.payment_interval_lines_ids.text-center.form-inline .ppt_opc .payment_interval_ids small.text-muted {
    margin: 0 0 0.25em 0;
}
.price_donate_suggested_currency {
    margin-left: 12px !important;
}
.radio {
    display: initial;
}
.form-group.price_donate {
left: calc(50% - 25%);
    left: -webkit-calc(50% - 25%);
}
/* Spinner */
#wsd-checkout-box .oe_website_spinner {
    background-color: #f6f6f6;
}
label {
    font-weight: 400;
    font-size: 14px;
}
@media (min-width: 768px) {
    .form-group.price_donate {
        left: calc(50% - 50%);
        left: -webkit-calc(50% - 50%);
    }
}
/* Special Box as Altruja */

.billing-fields input {
    background: rgba(0, 0, 0, 0.02);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #bbbbbb;
}
.billing-fields input:focus {
    background: rgba(255, 180, 0, 0.08) !important;
}
.price_donate_suggested_currency {
    margin-left: 15px;
}

#wsd_checkout_form .form-control-feedback {
    top: 28px;
}
#wsd_checkout_form .payment_interval_ids .form-group.has-feedback .form-control-feedback {
    top: 0px;
}
/* ---- */
/* CART */
/* ---- */
.fa-shopping-cart:before {
    /*content: "\f06c";*/
    content: "\f184";
}
h3.small_cart_header a {
    color: #333333;
}
.oe_website_sale .oe_cart #right_column {
    display: inline-block;
}

/* Order Total */
#order_total h3 {
    font-size: 18px;
}
.small_cart.oe_cart a {
    color: #736664;
}
#cart_products a {
        color: #736664;

}


/* --------------- */
/* STEPS INDICATOR */
/* --------------- */

/* Full width and Buttons below */
ul.checkout_steps_indicator {
    width: 100%;
}

ul.checkout_steps_indicator li {
    background-color: transparent;
}
ul.checkout_steps_indicator li:hover {
    background-color: #transparent;
}
ul.checkout_steps_indicator li a:hover {
    background-color: transparent;
}
ul.checkout_steps_indicator li.active {
    background-color: #fff;
}
ul.checkout_steps_indicator li.active a,
ul.checkout_steps_indicator li.active a:hover,
ul.checkout_steps_indicator.nav-tabs > li.active > a {
    color: #d80029;
    border-color: #ed7f05;
}

.nav-tabs > li.active > a {
    background-color: transparent;
    color: #d80029;
}
.nav-tabs > li.active > a:hover {
    background-color: #transparent;
    color: #d80029;
}
.nav-tabs > li.active > a:hover {
    background-color: #d80029;
    color: #000;
}
ul.checkout_steps_indicator.nav-tabs > li > a {
    border-color: #ed7f05;
    color: #000;
}
ul.checkout_steps_indicator.nav-tabs > li > a:hover {
    border-color: #d80029;
    color: #d80029;
}
ul.checkout_steps_indicator.nav-tabs > li.active > a:hover {
    color: #d80029;
}
div.checkout_steps_buttons {
    width: 100%;
    text-align: right;
    margin-top: 1em;
}

/* Hide the login Button TODO: I think there is a setting for this in the backend? */
#wsd_checkout_steps_nav a[href*="login"] {
    display: none;
}
.oe_product_cart .quick_add_to_cart {
    float: right;
}


/* -------- */
/* CHECKOUT */
/* -------- */
#wsd_checkout_form label.control-label.mandatory.text-danger {
    color: #d80029;
}
#wsd_checkout_form label.control-label.mandatory.text-danger:after {
    content: " *";
}
.price_donate_suggested_currency {
    color: white !important;
}
#wsd-checkout-box > div > div > h1 {
    color: #ed7f05;
}

/* ONE PAGE CHECKOUT */
/* ----------------- */
/* Hide delivery section TODO: Should be done by xml */
.row .wsd_opc_delivery {
    display: none;
}

.ppt_opc h3.amount_title {
    text-align: center;
}

#wsd_checkout_form .form-control-feedback {
    top: 25px;
}

/* ------- */
/* PAYMENT */
/* ------- */
#payment_method .nav-tabs > li a,
#payment_method .nav-tabs > li a:hover,
#payment_method .nav-tabs > li a:focus {
        color: #444;
}
#payment_method .nav-tabs > li.active a,
#payment_method .nav-tabs > li.active a:hover,
#payment_method .nav-tabs > li.active a:focus {
        color: black !important;
}

#payment_method .acquirer_pre_msg p {
    padding: 8px;
}

/* BIC ausblenden TODO: Must be done by xml! */
#aq2 > div:nth-child(6) {
    display: none;
}

/* E-Mail billing_address email ausblenden TODO: maybe not needed if renamed to "Ihre Angaben" */
.wsd_payment_page_content .payment_billing_address .billing_address .email {
    display: none;
}

/* Hide Checkbox for Zahlschein payment method */
#payment_method .do_not_send_payment_forms {
    display: none;
}

/* Payment Tabs */
/* ------------ */
#payment_method .nav > li > a {
    padding: 5px 5px;
}
#payment_method .nav.nav-tabs li.active a {
    background-color: #f8f8f8;
}
#payment_method .nav.nav-tabs li.active a:hover {
    background-color: #f8f8f8;
}
#payment_method .nav > li {
    /*min-width: 100px;*/
}
#payment_method .nav > li > a {
    padding: 5px 5px;
    text-align: center;
}
#payment_method .nav > li > a img {
    margin: 0 auto;
    width: 60px;
    height: 43px;
}
#payment_method .nav-tabs > li.active > a,
#payment_method .nav-tabs > li.active > a:hover,
#payment_method .nav-tabs > li.active > a:focus {
    color: white;
}
.payment_interval_ids.payment_interval_lines_ids {
    color: #000;
}

/* ---------------- */
/* ACQUIRER BUTTONS */
/* ---------------- */

/*[data-name='ogonedadi-submit-button'],*/
/*[data-name='frst-submit-button'] {*/
/*    max-width: 100%;*/
/*}*/
/* Change Shop Layout and keep Menü left and move cart to right */
#products_grid_before .small_cart_header hr,
#products_grid_before .small_cart oe_cart,
#products_grid_before .text-left small_cart_buttons,
#products_grid_before .text-left small_cart_buttons .clearfix {
    float: right;
}